#sir-rattimus {

    width: 70px;
    height: 70px;

    background-color:gray;

    position:fixed;

    left: 0;
    top: 0;


    z-index: 999999;

    border-radius: 10px;

    pointer-events:none;
}